  <div class="wrapper wrapper_padding clearfix">
        <div class="col-1 about homepage_content">
          <h2>About</h2>
          <hr>
          <p>I'm a hobbyist who is interested in creating many kinds of different things. From working with microcontrollers, creating webpages (such as this one), to writing iPhone applications. I like to learn it all.</p>
          <p>The initial purpose of this blog is to explain the proccess of creating/building a drone but also to code, build, and create the microcontroller to keep it in flight!</p>
          <p>Please follow this blog for more information and ideas to create your own!</p>
          </div>
        <div class="col-2 homepage_content">
          <h2>Things I've written</h2>
          <hr>
          
          
          <% @posts.each do |post| %>
          <h3><%= link_to post.title, post %></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
          <% end %>
        </div>
        <div class="col-3 homepage_content">
           <h2>Things I've built</h2>
          <hr>
          
          <% @projects.each do |project| %> 
          
            <h3><a href="#"><%= link_to project.title, project %></a></h3>
            <p class="date"><%= project.created_at.strftime("%A, %b %d") %> </p>
          
          <% end %>
        </div>
      </div>
