<!DOCTYPE html>
  <html>
    <head>
      <title>Workspace</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Johnathan Matodobra</a>
          <nav>
            <a href="articles.html">Articles</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
          </nav>
        </header>
        
        <h1 id="page_title">Say Hello</h1>

        <div class="skinny_wrapper wrapper_padding">
            
            <label>Name</label><br>
            <input type="text"/>
            
            <label>Email</label><br>
            <input type="text"/>
            
            <label>Message</label><br>
            <input type="textarea"/>
            
            <br>
            
            <input type="submit" value="Send Message" class="button"/>
        </div>
   
      <footer id="main_footer">
        <p class="copyright">&copy;2016 Johnathan Matodobra</p>
        <nav>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribble"></i></a>
          <a href="#"<i class="fa fa-facebook"></i>></a>
        </nav>
      </footer>
    </body>
  </html>

