<!DOCTYPE html>
  <html>
    <head>
      <title>Workspace</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Johnathan Matodobra</a>
          <nav>
            <a href="articles.html">Articles</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
          </nav>
       
          </header>
     <div id="post_show_content" class="skinny_wrapper wrapper_padding">
            <header>
                <p class="date">Yesterday</p>
                <h1>Drone Building</h1>
                <hr>
            </header>
            
            <div id="content">
              <h2>I Made a Thing!</h2>
              <p>Migas put a bird on it everyday carry, etsy try-hard quinoa roof party skateboard fixie franzen ramps master cleanse slow-carb meditation. Shabby chic celiac chartreuse, cornhole next level la croix poutine. Iceland pug chicharrones, polaroid meggings 90's viral live-edge hashtag plaid yr poke. Austin aesthetic offal readymade, messenger bag 90's poutine franzen af glossier vegan man bun ugh copper mug. Tote bag farm-to-table mixtape williamsburg. Cray lumbersexual thundercats fap you probably haven't heard of them, cred kitsch. Af fingerstache narwhal jean shorts polaroid tofu.</p>

              </p>Fanny pack XOXO aesthetic af, banjo jianbing hell of farm-to-table tilde coloring book normcore. Photo booth 3 wolf moon four dollar toast bespoke cliche, twee single-origin coffee quinoa green juice selfies flannel vinyl. Normcore portland aesthetic, mixtape distillery snackwave cred jianbing chillwave keffiyeh pabst artisan gluten-free shabby chic everyday carry. Hoodie air plant street art intelligentsia plaid tofu, pinterest bushwick. Bushwick cliche pok pok, flannel blog street art locavore skateboard wayfarers distillery roof party selfies. Sartorial DIY yuccie, raclette freegan whatever +1 blue bottle pok pok photo booth listicle put a bird on it taxidermy four dollar toast. Hammock edison bulb salvia, ethical bespoke prism wolf.</p>

                <p>Humblebrag fixie lumbersexual, sriracha truffaut af hexagon hella banh mi ennui mixtape kickstarter. Vexillologist heirloom pug single-origin coffee literally, farm-to-table authentic pickled. Echo park occupy franzen roof party gluten-free, hella live-edge pitchfork pork belly post-ironic man bun migas VHS kombucha art party. Yr pickled church-key activated charcoal copper mug flannel. Kinfolk direct trade before they sold out, freegan fap vegan banh mi YOLO 90's PBR&B. Art party gastropub yuccie activated charcoal 90's listicle. Cray raw denim green juice, tote bag shabby chic meggings tacos ethical artisan.</p>

                <p>Master cleanse gastropub vinyl bitters, ugh meggings subway tile street art man bun la croix. You probably haven't heard of them four loko cliche +1, tacos DIY wayfarers vape kombucha copper mug cornhole. 8-bit leggings pinterest artisan helvetica, pop-up XOXO hexagon listicle. Edison bulb tumblr jianbing master cleanse you probably haven't heard of them blue bottle deep v chicharrones occupy pour-over, sartorial kitsch locavore portland. Bushwick enamel pin you probably haven't heard of them, aesthetic next level helvetica disrupt chambray gochujang glossier before they sold out roof party crucifix celiac. Selfies next level bitters, biodiesel bespoke activated charcoal knausgaard. 8-bit quinoa health goth, organic freegan ennui glossier chillwave four loko flannel bitters pug kale chips vexillologist.</p>
            </div>
            
            <div id="share_box">
              <p>Share I Made a Thing!</p>
              
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribble"></i></a>
              <a href="#"></a><i class="fa fa-facebook"></i>></a>
            </div>
        </div>

      <footer id="main_footer">
        <p class="copyright">&copy;2016 Johnathan Matodobra</p>
        <nav>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribble"></i></a>
          <a href="#"></a><i class="fa fa-facebook"></i>></a>
        </nav>
      </footer>
    </body>
  </html>

